<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cn.Vcredit.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FileEntities" connectionString="metadata=res://*/FileTransfer.UserFile.csdl|res://*/FileTransfer.UserFile.ssdl|res://*/FileTransfer.UserFile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.10.34;initial catalog=Sys;user id=sa;password=vcredit123#%*;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="WebMail" value="vbs_test@vcredit.com" />
    <add key="WebServer" value="smtp.vcredit.com" />
    <add key="WebMailUser" value="test_vcredit@vcredit.com" />
    <add key="WebMailPwd" value="U!vzAOhf" />
    <add key="WebMailTo" value="vbs_error@vcredit.com" />
    <add key="WebMailTemplateFile" value="/App_Data/ConfigDocument/EmailConfiguration.xml" />
  </appSettings>
  <applicationSettings>
    <Cn.Vcredit.Common.Properties.Settings>
      <setting name="Cn_Vcredit_Common_SXIT_Service_MessageInterop"
        serializeAs="String">
        <value>http://58.246.164.22:9090/mms/services/MessageInterop.MessageInteropHttpSoap11Endpoint/</value>
      </setting>
    </Cn.Vcredit.Common.Properties.Settings>
  </applicationSettings>
</configuration>